{% extends 'base.html' %}

{% block content %}

<style>
    .navbar a{
        font-family:"Bebas Neue" ;
        font-size: 35px;
        background-color: #20232a;
        color:#61dafb;
    }

    body {
      background-image:url("background.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .d-flex{
      display: flex;
      justify-content:space-evenly;
    }

    body{
      background-color:#282c35 ;
      color: #ffffff;
    }

    .card{
      background-color: #1e1e1e;
      color: #ffffff;
      margin: 10px;
    }

    .last-row{
      background-color:#f0f0f0 ;
      color: #333;

    }

    .modal-title{
      color: #1e1e1e;
    }

    .modal-header{
      background-color: #fefae0;
    }
    .modal-body{
      color : #333;
      font-size: 20px;
      background-color: #ade8f4;
    }

    .modal-footer{
      background-color: #fefae0;
    }

    .modal-content .btn{
      background-color: #81b29a;
    }
</style>

<nav class="navbar" style="background-color:aliceblue;" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SNEAKERS HUB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">NEWS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>     
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>

<h5>Name:</h5>
<p>Brian Jonathan</p>

<h5>Class:</h5>
<p>PBP D</p>

<div id="cardfolder" class="d-flex flex-wrap"> </div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Product</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="mb-3">
                      <a href="{% url 'main:logout' %}" class="btn btn-danger" style="background-color: #FF0000; color: #FFFFFF;">Logout</a>
                    </div>
                    
                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>
  
<br />

<h5>Sesi terakhir login: {{ last_login }}</h5> 

<a href="{% url 'main:logout' %}" class="btn btn-danger" style="background-color: #FF0000; color: #FFFFFF;">Logout</a>

<script>
  
  
  async function getProducts() {
      return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
  }
  async function refreshProducts() {
        document.getElementById("cardfolder").innerHTML = ""
        const products = await getProducts()
        let htmlString = ""
        
        products.forEach((item) => {
            htmlString += `<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">${item.fields.name}</h5>
    <h6 class="card-subtitle mb-2 custome-text-color">${item.fields.description}</h6>
    <p class="card-text">${item.fields.amount}.</p>
  </div>
</div>`
        })
        
        document.getElementById("cardfolder").innerHTML = htmlString
    }

    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addProduct
</script>



{% endblock content %}
