{% extends 'base.html' %}

{% block content %}
    <h1>SNEAKERS HUB</h1>

    <h5>Name:</h5>
    <p>Brian Jonathan</p>

    <h5>Class:</h5>
    <p>PBP D</p>

    <table>
        <tr>
            <th>Shoes</th>
            <th> </th>
            <th>Amount</th>
            <th> </th>
            <th>Description</th>
        </tr>
    
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <form method="post" action="{% url 'main:update_product_amount' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" name="amount" value="reduce">-</button>
                    </form>
                </td>
                <td style="text-align: center;">{{ product.amount }}</td>
                <td>
                    <form method="post" action="{% url 'main:update_product_amount' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" name="amount" value="add">+</button>
                    </form>
                </td>
                <td>{{ product.description }}</td>
                <td>
                    <form method="post" action="{% url 'main:delete_product' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5> 

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>

{% endblock content %}